body {
    /*font-family: 'Julius Sans One', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.5em;
}

.demo {
    height: 100vh;
    width: 50vw;
}

.centered {
    font-size: 4em;
    text-align: center;
}

.card-text {
    color: black;
}

.card-title {
    color: black;
}

.card-img-top{
  width:100%;
  height:auto;
}

.secheader {
    font-size: 4em;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.subsection {
    margin: 0;
    padding: 0;
}

span.symbol {
    font-family: 'Diplomata SC', cursive;
    font-weight: thin;

}

span.mathy {
    font-family: 'Old Standard TT', serif;
    font-weight: bolder;
    color: #f7c681;
}

#mathytag {
    font-family: 'Old Standard TT', serif;
    font-weight: bolder;
}

code.codey {
    font-size: 1.2em;
}
