body {
    /*font-family: 'Julius Sans One', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.5em;
}

.demo {
    height: 100vh;
    width: 50vw;
}

.centered {
    /*position: fixed;*/
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 4em;
    text-align: center;
}

.section {
    height: 100vh;
}

.secheader {
    font-size: 4em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.subsection {
    margin: 0;
    padding: 0;
}

span.symbol {
    font-family: 'Diplomata SC', cursive;
    font-weight: thin;

}

span.mathy {
    font-family: 'Old Standard TT', serif;
    font-weight: bolder;
}

code.codey {
    font-size: 1.2em;
}

#sec1 {
    position: relative;
    background: #021C1E;
}

#sec2 {
    position: relative;
    background: #004445;
}

#sec3 {
    position: relative;
    background: #2C7873;
}

#sec4 {
    position: relative;
    background: #6FB98F;
}
